<b>Correct Usage:</b>
<br />
<ul>
<li><code>http://pacman.server.com/injestJSON?source_feed=source_feed.com&mappings_name=mapping_file&key=key</code></li>
<li><code>http://pacman.server.com/injestXML?source_feed=source_feed.com&mappings_name=mapping_file&key=key</code></li>
<li><code>http://pacman.server.com/injestTXT?source_feed=source_feed.com&mappings_name=mapping_file&key=key</code></li>
</ul>